.btn {
  @extend %font-intro-regular;
  font-size: fz(sm);
  line-height: 100%;
  padding: 22px 48px;
  white-space: nowrap;
  border-radius: 4px;
  color: clr(white-color);
  transition: background-color 0.25s ease-out;

  &--primary {
    background-color: clr(accent-color);
    transition: background-color 0.25s ease-out;

    &:hover {
      background-color: clr(mojo-color);
      transition: background-color 0.25s ease-out;
    }
  }

  &--dark {
    background-color: clr(text-color);
    transition: background-color 0.25s ease-out;

    &:hover {
      background-color: clr(tuna-color);
      transition: background-color 0.25s ease-out;
    }
  }

  &--none {
    padding: 0;
    color: clr(text-color);
  }
}
