.cart {
  &__btn {
    position: relative;
    @extend %d-flex;
    font-size: fz(xs);
    line-height: 100%;
    padding-right: 14px;

    .icon {
      flex: 0 0 20px;
      height: 19px;
    }
  }

  &__btn-text {
    margin-right: 10px;
  }

  &__btn-qty {
    @extend %d-flex;
    justify-content: center;
    position: absolute;
    bottom: -6px;
    right: 0;
    min-width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 8px;
    padding: 2px;
    background-color: clr(accent-color);
  }
}
