.input {
  width: 100%;
  @extend %font-intro-book;
  font-weight: fw(regular);
  font-size: fz(sm);
  line-height: 22.4/16 * 100%;
  color: clr(text-color);
  padding: $second-offset;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: clr(white-color);

  &::placeholder {
    color: clr(bombay-color);
  }

  &:focus {
    border-color: clr(black-color);
  }
}
