.quiz {
  &__content {
    display: none;
    min-height: 650px;
    height: 1px;
    padding: $main-offset 100px;
    background: clr(seashell-color);
    border-radius: 4px;

    &.active {
      display: flex;
      flex-direction: column;
    }
  }

  &__header {
    flex: 0 0 auto;
    color: clr(gray-color);
    padding-bottom: $small-offset;
    border-bottom: 1px solid currentColor;

    &-title {
      margin-bottom: $second-offset;
    }
  }

  &__body {
    flex: 1;
    @extend %d-flex;
    flex-direction: column;
    align-items: stretch;
    padding: $second-offset 0 $main-offset;

    &--second {
      padding-bottom: $second-offset;
    }

    &-question {
      flex: 0 0 auto;
      font-size: fz(lg);
      margin-bottom: $second-offset;
    }

    &-answer {
      flex: 1;
    }
  }

  &__footer {
    flex: 0 0 auto;
    @extend %d-flex;
    justify-content: space-between;
    color: clr(gray-color);
    padding-top: $second-offset;
    border-top: 1px solid currentColor;

    &-qty {
      &:first-child {
        margin-right: 5px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }

    &-btn {
      flex-shrink: 0;
    }
  }
}

.quiz-type {
  &__answers {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(155px, auto);
    column-gap: 70px;
  }
  &__answer {
    overflow: hidden;
  }
  &__answer-img {
    @extend %d-block;
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: $small-offset;
  }
  &__answer-content {
    padding: 0 5px;
  }
}

.quiz-size {
  .quiz-size__answers {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: unset;
    column-gap: 70px;
    margin-bottom: $second-offset;
  }
  .quiz-size__answer {
  }
  .quiz-size__media {
    width: 100%;
    height: 280px;
    background: clr(bombay-color) url("../../../images/dist/quiz-2-1.jpg")
      center center/cover no-repeat;
  }
}

.quiz-commit {
  &__text {
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    @extend %font-intro-book;
    font-size: fz(sm);
    font-weight: fw(regular);
    padding: $second-offset;
    color: clr(text-color);
    border-radius: 4px;
    background-color: clr(white-color);
    resize: none;

    &::placeholder {
      color: clr(cameo-color);
    }

    &:focus {
      border-color: clr(cameo-color);
    }
  }
}

.quiz-contact {
  @extend %d-flex;
  flex-direction: column;
  align-items: stretch;
  padding: $main-offset;
  color: clr(white-color);
  border-radius: 4px;
  background-color: clr(cameo-color);

  &__header {
    flex: 0 0 auto;
    font-size: 18px;
    margin-bottom: $second-offset;
  }

  &__title {
    font-size: fz(xxl) !important;
    color: clr(white-color) !important;
    padding-top: $main-offset;
    margin-bottom: $small-offset;
  }

  &__form {
    flex: 1;
    @extend %d-flex;
    width: 55.56%;
    flex-direction: column;
    align-items: stretch;

    border-radius: 4px;
    background-color: clr(cameo-color);

    &-field {
      border: 3px solid transparent;
      @extend %font-intro-book;
      font-size: fz(sm);
      font-weight: fw(regular);
      color: clr(text-color);
      background-color: clr(white-color);
      border-radius: 4px;
      padding: 16px;

      &::placeholder {
        color: clr(bombay-color);
      }

      &:not(:last-child) {
        margin-bottom: $small-offset;
      }

      &:last-of-type {
        margin-bottom: $second-offset;
      }

      &:focus {
        border-color: clr(bombay-color);
      }
    }

    &-submit {
      align-self: flex-start;
      width: 200px;
    }
  }
}
