// GENERAL DOCUMENT STYLES: : placeholder color: #666: : selection
html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: clr(accent-color);
  color: clr(white-color);
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

a,
img {
  display: inline-block;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  @extend %font-intro-book;
  font-size: fz(sm);
  line-height: $lineheight;
  color: clr(text-color);
  background-color: clr(white-color);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

.btn-reset {
  // display: inline-block;
  text-align: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: currentColor;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  object-fit: cover;
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: $container-width + $container-padding * 2;
  padding: 0 $container-padding;
  @extend %x-center;
}

.section {
  margin-bottom: $big-offset;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $grid-gap;
}

.custom-checkbox {
  @include custom-checkbox;

  &__content {
    padding-left: 34px;

    &::before {
      top: -2px;
      width: 24px;
      height: 24px;
      border-color: clr(cameo-color);
      border-radius: 4px;
    }

    &::after {
      top: -2px;
      width: 24px;
      height: 24px;
      background-image: url("../images/src/check.svg");
      background-size: 15px 12px;
    }
  }
}
