// GENERAL DOCUMENT STYLES: : placeholder color: #666: : selection
html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

a,
img {
  display: inline-block;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  font-weight: $fontweight;
  color: $textcolor;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

.btn-reset {
  display: inline-block;
  text-align: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
